<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertex inmobiliaria</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>

<!-- inicio del navbar  -->
    <div class="flex justify-between m-4">
        <div >
            aca va el logo
        </div>
        <div class="flex justify-stretch space-x-4">
            <a href="#" class="hover:bg-fuchsia-500">Inicio</a>
            <a href="#" class="hover:bg-fuchsia-500">Alquieres</a>
             <a href="#" class="hover:bg-fuchsia-500">Compra</a>
              <a href="#" class="hover:bg-fuchsia-500">Contactános</a>
        </div>
        <div class="shadow-cyan-500/50">
            <button class="bg-sky-500 border-4 border-double rounded-lg">Iniciar sesión</button>
        </div>
        
   
    </div>
   

<!-- fin del navbar  -->
    {% block content %} <!-- el blcok content es donde ira el contenido que utilice esta base-->
    {% endblock %}

<!-- inicio del footer  -->
    <h1 class="text-3xl font-bold underline">Footer</h1>


<!-- fin del footer  -->




</body>
</html>