<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertex inmobiliaria</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>

<!-- inicio del navbar  -->
    <a href="#">Inicio</a>
    <a href="#">Login</a>
    <br>

<!-- fin del navbar  -->
    {% block content %}
    {% endblock %}

<!-- inicio del footer  -->
    <h1 class="text-3xl font-bold underline">Footer</h1>


<!-- fin del footer  -->




</body>
</html>